<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>React Integration to Django</title>
</head>

<body>
    <div id="react_container"></div>

    <!--  {{ name|json_script:"username" }}
    {{ target|json_script:"target-value" }} -->
    {{ url|json_script:"booklist-data" }}

    <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
    <!--This should be included on the page after your other React-related script tags, but before you include any files containing JSX.-->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

    <script src="{% static 'js/react-example.js' %}" type="text/babel">

    </script>
</body>

</html>